.modal{
    position: absolute;
    width: calc(15em + 15vw);
    height: calc(15em + 15vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    box-shadow: #666 1px 1px 10px;

    padding: 2rem;
    }
    #close{
    position: relative;
    height:auto;
    text-align: right;
    padding: 2%;
    img{
    cursor: pointer;
    }
    }
    #text{
    padding-left: 2%;
    }

    .closeBtn{
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        float: right;

        transition: 100ms ease-in-out;

        &:hover{
            color: red;
            transform: scale(1.5);
        }
    }